[submodule "vim/bundle/vimux"]
	path = vim/bundle/vimux
	url = https://github.com/benmills/vimux.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/vim-golang"]
	path = vim/bundle/vim-golang
	url = git://github.com/jnwhiteh/vim-golang.git
[submodule "vim/bundle/vim-c"]
	path = vim/bundle/vim-c
	url = git://github.com/vim-scripts/c.vim.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/vim-csharp"]
	path = vim/bundle/vim-csharp
	url = git@github.com:myagley/vim-csharp.git
[submodule "vim/bundle/vim-scala"]
	path = vim/bundle/vim-scala
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = git@github.com:myagley/taglist.vim.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/mustache"]
	path = vim/bundle/mustache
	url = git://github.com/juvenn/mustache.vim.git
